{% extends 'base.html.twig' %}

{% block title %}Recette Claire - Ingredients{% endblock %}

{% block body %}
    <div class="container mt-3">
        {% if not ingredients.items is same as([]) %}
            <h1>Mes ingrédients</h1>

            <a href="{{ path('ingredient.new') }}" class="btn btn-primary mt-4">Ajouter un ingrédient</a>

            {# read and display just one flash message type #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="count mt-2 d-flex justify-content-end">
                <p>{{ ingredients.getTotalItemCount }} ingrédients trouvés.</p>
            </div>

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Edition</th>
                        <th scope="col">Suppression</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr class="table-default">
                            <th scope="row">{{ ingredient.id }}</th>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.price }}</td>
                            <td>{{ ingredient.createAt|date('d/m/y') }}</td>
                            <td>
                                <a href="{{ path('ingredient.edit', { id: ingredient.id }) }}" class="btn btn-info">Modifier</a>
                            </td>
                            <td>
                                <a href="{{ path('ingredient.delete', { id: ingredient.id }) }}" class="btn btn-danger">supprimer</a>
                            </td>
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4 mb-5">
                {{ knp_pagination_render(ingredients) }}
            </div>
            
        {% else %}
            <p>Il n'y a pas d'ingrédient</P>
        {% endif %}
    </div>
{% endblock %}
